{% extends '::base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>Program: {{ entity.title }}</h1>
</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                    {% for p in entity.participants %}
                        {{ p.fullname }}<br />
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <h4>Send survey to participants:</h4>

    {# one program, one survey from select, participant from that program #}
    <form class="form-inline" action="{{ path('survey_send', { 'program_id': entity.id}) }}" method="post">
        <div class="form-group">
            <select name="suvery_id" class="form-control">
                {% for survey in surveys %}
                    <option value="{{survey.id}}">{{ survey.title }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Send suvery" class="btn btn-primary" />
        
    </form>


    

    <hr />

        <ul class="record_actions">
    <li>
        <a href="{{ path('program') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('program_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
